*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.body{
    font-family: "Space Grotesk", sans-serif;
}
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 10.5vw;
    padding-top: 2vw;
    padding-left: 10vw;

}

.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
}

.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: normal;
    padding-left: 23vw;
}

.links li{
    list-style-type: none;
    color: #000000;
    padding-right: 2.5vw;
    margin-left: 0.2vw;
    padding-top: 3.9vw;
    font-family: "Space Grotesk", sans-serif;
    font: lighter;
    line-height: 1;
    font-weight: 500;
    font-size: 1.3vw;
    font-stretch: wider;
    letter-spacing: 1px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #000000;

}

#sp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0vw;
    border-radius:0.2vw;
    height: 3vw;
    font-size: 1.3vw;
    margin-top: 3vw;
    margin-left: 1.6vw;
    padding: 0.7vw 1vw 1vw 1vw;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;   
}
.section1{
    text-align: center;
}
.section1 h1{
    font-size: 5vw;
    color: #3c3968;
    padding-top: 1vw;
}
.section1 p{
    font-size:1.3vw;
    color: #a8a7a7;
    padding-top: 1.3vw;
}
.meow{
    background-color:#F8FAFC;
    height:84vw;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:11.4vw;
    gap: 2.2vw 2.2vw;
    margin-top: 2vw;
}
.map{
    padding-block-start: 0vw;
    padding-block-end: 0vw;
    padding-inline-start: 0vw;
    padding-inline-end: 0vw;
}
.contact-form{
    background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 box-shadow: 0 0 2px 0 #a8a7a7;
  border-radius: 22px;
  width: 35vw;
  padding:2vw;
}
.form-row {
    display: flex;
  }
  
  .form-column {
    padding:1vw;
    padding-left: 2.2vw;
  }
  
  label, input, select, textarea {
    display: block;
    margin-bottom: 10px;    
  }
  input, select, textarea{
    color: #0000008c;  
  }
  input{
      padding: 10px;
      width: 170px;
  }
  input[type="submit"] {
    margin-top:20px;
    width: 90px;
    padding: 7px;
    margin-left: 2vw;
    border: 0;
    background-color: #e82929;
    color: #fff;
    font-size: 1.3vw;
    font-weight: 500;
    border-radius: 3px;
  }
  input[type="email"]{
      width:26.2vw;
  }
  input[type="number"]{
      width:26.2vw;
  }
  select{
      padding: 10px;
      width: 190px;
      font-size:1.1vw;
  }
  .section2{
    display: flex;
    flex-direction: row;
    margin-left: 147px;
  }
  .bey{
    background-color: #fff;
    margin: 18px;
    height:240px;
    width: 360px;
    box-shadow: 0px 20px 40px 0px rgba(76, 111, 255,0.15);
    border:0;
    border-radius: 20px 20px 20px 20px;
    margin-top: 90px;
  }
  .bey p{
    text-align: center;
    margin-top: 1.9vw;
    font-size: 1.3vw;
    font-weight: 450;
    line-height: 26px;
    color: #2d3958;
  }
  .bey .icon{
    margin-left: 169px;
    margin-top: 80px;
  }
  .CTA{
    width: 80%;
    margin-top: 1vw;
    margin-left: 10vw;
    border-radius: 2vw;
    border-bottom-left-radius: 0vw;
    border-bottom-right-radius: 0vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2vw;
    font-weight: bolder;
    font-stretch: wider;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 6vw;
    color: rgb(44, 54, 91);
    background-color: rgb(216, 230, 234);
}
  .section9{
    background-color: #353434;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.end1{
    margin-left: 15vw;
    margin-top: 6vw;
    margin-right:8vw;
}
.bdr{
    border-left:1px solid #a8a7a7;
    height:25vw;
    margin-top: 3.7vw;
    margin-left:2vw; 
    padding-left: 6vw;
}
.section9 h5{
    font-family:sans-serif;
    font-size: 1.2vw;
    padding-bottom: 1.9vw;
    padding-left: 0.8vw;
    color: #fff;
}
.section9 h6{
    padding:0.7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1vw;
    font-weight: 500;
    color: #e7e5eab3;
}
.end3 h6{
padding:0.9vw;
}
.s{
  margin:0.4vw;
  padding: 1vw;
  color: #a8a7a7;
  font-size: 19px;
  margin-top: 3vw;
  
}
.app{
    background-color: #353434; 
    height:22vw;  
}
#apps{
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    border-radius:0.35vw;
    width:12vw;
    background-color: #353434;
    border-color: #474646;
    color: #a8a7a7;
    font-size:18px;
    font-weight: 600;
    margin-top: 1.5vw;
    cursor: pointer;
}
.head{
    margin-left: 15vw;
}
.head li{
    list-style-type: none;
    display: inline;
}
.custom-hr{
    border: none;
    border-bottom: 1px solid #4d4d4d;
    width: 84%;
    margin-left:13.5vw;
    margin-top:6vw;
}
